gunicorn==20.1.0
uvicorn[standard]==0.18.2
fastapi==0.79.0
pydantic[dotenv]>=1.9.1
psycopg2-binary==2.9.3
asyncpg==0.26.0
sqlalchemy[asyncio]==1.4.39
alembic==1.8.1
sqladmin==0.1.12
fastapi-mail==1.0.9